*, *:before, *:after {
    box-sizing: border-box;
}
.wrapp {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.form {
    margin: 30px 0px 30px 50px;
}
.flex {
    display: flex;
}
.form__checkbox {
    margin: 0;
}
.flex label {
    margin: 0 0 0 10px;
}
.form__input {
    width: 250px;
}
.error-message {
    color: red;
    max-width: 500px;
}
#assent-error {
    margin-bottom: 30px;
}
.radio {
    display: flex;
    align-items: center;
}
.gender__male,
.gender__female {
    margin-left: 7px;
    margin-top: -5px;
}
input,
select {
    border: 1px solid #D1D1D1;
}
.error {
    border: 1px solid red;
}